nav{
	margin-bottom: 20px;
}
.card{
	height: 75vh;
	overflow: scroll;
}
.copi-rojo-claro{
	background-color: rgb(218,41,28);
}
.copi-rojo-oscuro{
	background-color: rgb(134,38,51);
}

.copi-naranja-claro{
	background-color: rgb(240,179,45)
}

.copi-naranja-oscuro{
	background-color: rgb(234,118,0)
}

.copi-azul-claro{
	background-color: rgb(0,119,20);
}

.copi-azul-oscuro{
	background-color: rgb(0,40,85);
}

.file-input {
  visibility: hidden;
  width: 0;
  position: relative;
}
.file-input::before {
  content: 'Subir csv';

  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
 
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;

  margin-right: -100px;
    position: relative;
}
.file-input:hover::before {
  border-color: black;
}
.file-input:active::before {
 
}

#tablita{
    height:430px;
    width: 100%;
  
}

.profile-content{
  width: 100%;
}


/*efecto de preload*/




/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}



